
// Body
$body-bg: #F4F5F8;

$top-bar-height: 50px;

// Colors
//$sidebar-bg: #016FAE;
//$sidebar-bg-dark: #015C8B;

$sidebar-width: 210px;
$sidebar-bg: #F4F5F8;
$sidebar-bg-dark: #eceef1;

$top-bar-bg: #393a3d;
$main-content-bg : #fff;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

$link_color : #007bff;
$button-primary-color: #007bff;
$button-dark-primary-color: #108000;
// Sidebar

$green : #59C203;
$g : #2ACB9F;


